.rti--container {
    --rti-bg: var(--Dark-Dark-800, #0D161B);
    --rti-border: none;
    --rti-main: none;
    --rti-radius: 0.375rem;
    --rti-s: 0.5rem;
    --rti-tag: var(--Light-Light-600, #76797B);
    --rti-tag-remove: blue;
      height: 3rem;
  }

  .rti--container input {
    width: auto;
    padding: 3px 10px;
    border-radius: 8px;
    color: var(--Light-Light-100, #FFF);
    background-color: var(--Dark-Dark-800, #0D161B); 
    border: 1px dashed var(--Light-Light-500, #7C7C8A) ;
  }